@model RecyclableCalculator.Core.Dto.RecyclableTypeDtos.RecyclableTypeAddRequest

@{
  ViewBag.Title = "Create";
}

<div class="container">
  <div class="row justify-content-center">
    <div class="col-md-6">
      <h2 class="text-center mb-4">Create</h2>

      @using (Html.BeginForm())
      {
        @Html.AntiForgeryToken()

    <div class="form-horizontal">
      <h4 class="text-secondary text-center">Recyclable Type</h4>
      @Html.ValidationSummary(true, "", new { @class = "text-danger" })
    <div class="row m-5 gap-3">
      <!-- Type -->
      <div class="form-group row">
        <div class="col-md-2">
          @Html.LabelFor(model => model.Type, htmlAttributes: new { @class = "control-label col-md-2" })
        </div>
        <div class="col-md-10">
          @Html.EditorFor(model => model.Type, new { htmlAttributes = new { @class = "form-control" } })
          @Html.ValidationMessageFor(model => model.Type, "", new { @class = "text-danger" })
        </div>
      </div>
      <!-- Rate -->
      <div class="form-group row">
        <div class="col-md-2">
          @Html.LabelFor(model => model.Rate, htmlAttributes: new { @class = "control-label col-md-2" })
        </div>
        <div class="col-md-10">
          @Html.EditorFor(model => model.Rate, new { htmlAttributes = new { @class = "form-control", type = "number", step = "0.01", min = "0" } })
          @Html.ValidationMessageFor(model => model.Rate, "", new { @class = "text-danger" })
        </div>
      </div>
      <!-- MinKg -->
      <div class="form-group row">
        <div class="col-md-2">
          @Html.LabelFor(model => model.MinKg, htmlAttributes: new { @class = "control-label col-md-2" })
        </div>
        <div class="col-md-10">
          @Html.EditorFor(model => model.MinKg, new { htmlAttributes = new { @class = "form-control", type = "number", step = "0.01", min = "0" } })
          @Html.ValidationMessageFor(model => model.MinKg, "", new { @class = "text-danger" })
        </div>
      </div>
      <!-- MaxKg -->
      <div class="form-group row">
        <div class="col-md-2">
          @Html.LabelFor(model => model.MaxKg, htmlAttributes: new { @class = "control-label col-md-2" })
        </div>
        <div class="col-md-10">
          @Html.EditorFor(model => model.MaxKg, new { htmlAttributes = new { @class = "form-control", type = "number", step = "0.01", min = "0" } })
          @Html.ValidationMessageFor(model => model.MaxKg, "", new { @class = "text-danger" })
        </div>
      </div>
    </div>
      <div class="form-group mt-3">
        <div class="col-md-offset-2 col-md-12 text-center">
          <button type="submit" class="btn btn-primary">Save</button>
          <button type="reset" class="btn btn-primary">Reset</button>
        </div>
      </div>
    </div>
      }

      <div>
        @Html.ActionLink("Back to List", "Index")
      </div>
    </div>
  </div>
</div>

@section Scripts {
  @Scripts.Render("~/bundles/jqueryval")
<script src="~/Scripts/types.js"></script>
}
