@model IEnumerable<RecyclableCalculator.Core.Dto.RecyclableTypeDtos.RecyclableTypeResponse>

@{
    ViewBag.Title = "Types";
}

<h2>Recyclable Types</h2>

<a class="btn btn-sm btn-primary" href="@Url.Action("Create")">Create New</a>

<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Type)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Rate)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.MinKg)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.MaxKg)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.Type)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Rate)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.MinKg)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.MaxKg)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.Id }) |
            @Html.ActionLink("Delete", "Delete", new { id=item.Id })
        </td>
    </tr>
}

</table>
